body {
    font-family: 'Roboto', sans-serif;
}
div {
    margin-left: 13%;
    margin-right: 13%;
}
fieldset {
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 12px;
    padding-bottom: 10px;
}
h4 {
    padding: 8px;
    font-size: 21px;
}
img {
    display: block;
    margin: auto;
    padding-bottom: 20px;
    width: 95%;
}
#font {
    width: 60%;
}
ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
li {
    font-size: 15px;
    padding: 5px;
    margin: 0px;
}
a {
    padding: 10px;
    font-size: 30px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    display: block;
    width: 200px;
    color: white;
    background-color: #00e613;
    border: 5px solid #00e613;
    border-radius: 40px;
}
a:hover {
    border-color: #00e613;
    background-color: white; 
    color: #00e613;
}
input[type="checkbox"] {
    display: inline-block;
    float: left;
}
#thanks {
    text-align: center;
    font-size: 26px;
    margin-top: 100px;
}
.text {
    margin-left: 10%;
    margin-right: 10%;
}

.dark {
    color: #fffaeb;
    background-color: #00264d;
    padding: 8px;
    margin: 8px;
}
.light {
    color: #00264d;
    background-color: #fffaeb;
    padding: 8px;
    margin: 8px;
    margin-bottom: 35px;
}


.darkgreen {
    background-color: #b8dfff;
}
.lightgreen {
    background-color: #b8dfff;
}
.palegreen {
    background-color: #b8dfff;
}
.lightblue {
    background-color: #b8dfff;
}
.darkblue {
    background-color: #b8dfff;
}